.answer-new{
  display: flex;
  justify-content: space-between;
}

.left-answer-new{
  margin: 50px 0 0 20px;
}

.question-name{
  font-size: 25px;
  margin-bottom: 15px;
}

.question-content{
  font-size: 20px;
  margin-bottom: 15px;
}

.question-tip{
  font-size: 20px;
  margin-bottom: 15px;
}

.answer-title{
  font-size: 20px;
}

.answer-text{
  width: 30vw;
  height: 15vh;
  margin: 10px 0 15px 0;
}

.answer-btn{
  width: 10vw;
  height: 5vh;
  margin-bottom: 15px;
}

.center-answer-new{
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
}

.right-answer-new{
  margin: 20px 20px 0 0;
  display: flex;
  align-items: center;
}

.set-timer{
  font-size: 20px;
  width: 400px;
  height: 50px;
  border: dashed 1px gray;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
