.score-index-page{
  margin: 20px 0 10px 25px;
}

.score-index-title{
  font-size: 1.4rem;
}

.check-the-answer{
  text-decoration: none;
  color: white;
  background-color: darkgray;
  width: 220px;
  height: 30px;
  margin: 10px  0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px outset gray;
  border-radius: 12px;
}