.genre-page{
  margin-left: 20px;
}

.quetion-title{
  margin-top: 10px;
  /* list-style: none; */
}

.question-name{
  text-decoration: none;
  color: black;
}

.genre-tip{
  color: rgb(119, 118, 118);
  margin-left: 20px;
}

.genre-user{
  color: rgb(119, 118, 118);
}

.root-path-link{
  text-decoration: none;
  color: white;
  background-color: darkgray;
  width: 220px;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}