.genre-page{
  margin-left: 20px;
}
.search{
  font-size: 1.5rem;
  border-bottom: double 3px rgb(212, 212, 212);
  text-shadow: 1px 1px 4px rgb(112, 112, 112);
  color: rgb(75, 75, 75);
}

.question-title{
  margin-top: 10px;
  list-style-type: circle;
}
.genre---li{
  color: darkgray;
  font-size: 12px;
}

.genre-question-name{
  text-decoration: none;
  color: black;
  border-bottom: dashed 1px rgb(165, 165, 165);
}

.question-link{
  color: rgb(117, 117, 117);
  text-decoration: none;
  display: inline-block;
}


.genre-tip{
  color: rgb(119, 118, 118);
  margin-left: 20px;
  border-bottom: 1px solid rgb(165, 165, 165);
}

.genre-user{
  color: rgb(119, 118, 118);
  border-bottom: 1px solid rgb(165, 165, 165);
}

.search-result-none{
  font-size: 1.1rem;
}

.root-path-link{
  text-decoration: none;
  color: white;
  background-color: darkgray;
  width: 220px;
  height: 30px;
  margin: 10px  0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}