.title-contents {
background-image: image-url('6yGcWWt6WaIF1aw1625735467_1625735650');
background-size: 100% 100%;
color: #fff;
padding: 5vh;
text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.question_search{
  font-size: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.genre-select-label{
  margin: 5px 0;
  font-size: 1.5rem;
  text-shadow: 6px 2px 4px rgb(255, 235, 124);
  color: rgb(87, 87, 87);
}
.genre-select-pulldown{
  padding: 0 0 10px 25px;
}

.finger{
  animation: blink 0.5s ease-in-out infinite alternate;
}

// ネオン文字の装飾
.neon{
  width: 100vw;
  height: 235px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.YDK1{
  font-size: 2rem;
  color: rgb(243, 243, 234);
  text-shadow: 0px 0px 40px #fcabf1;
  animation: blink 2s ease-in-out infinite alternate;
}
.YDK2{
  font-size: 2rem;
  color:  rgb(243, 243, 234);
  text-shadow: 0px 0px 20px #fc9cd2;
  animation: blink 2s ease-in-out infinite alternate;
}
.YDK3{
  font-size: 2rem;
  color: #fff;
  text-shadow: 0px 0px 15px #fd55b4;
  animation: blink 2s ease-in-out infinite alternate;
}
.YDK4{
  font-size: 2rem;
  color: rgb(243, 243, 234);
  text-shadow: 0px 0px 20px #fc9cd2;
  animation: blink 2s ease-in-out infinite alternate;
}
.YDK5{
  font-size: 2rem;
  color: rgb(243, 243, 234);
  text-shadow: 0px 0px 40px #fcabf1;
  animation: blink 2s ease-in-out infinite alternate;
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
// ネオン文字の装飾