.new-question-main{
  margin-left: 10px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}


.question-text{
  width: 20vw;
  margin-bottom: 10px;
}

.question-text-area{
  height: 85px;
  width: 30vw;
  margin-bottom: 10px;
}

.question-btn{
  margin: 10px 0;
}

.back-btn{
  text-decoration: none;
  color: black;
}