/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* ここからリセットCSS */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ここまでリセットCSS */


* {
  box-sizing: border-box;
}

body{
  background-color: rgb(243, 243, 234)
}

/* iPad Pro対応 */
@media (max-width: 1024px) {
	.dummy{
		width: 350px;
	}
}

/* iPad 対応 */
@media (max-width: 768px) {
	.dummy{
		width: 120px;
		font-size: 10px;
	}
}

/* iPhone 6/7/8対応 */
@media (max-width: 375px) {
	/* ヘッダー部 */
	.header-title{
		font-size: 1rem;
	}
	.title_description{
		font-size: 2px;
		padding: 5px 15px 0 0;
	}
	.dummy{
		width: 10px;
	}
	.lists-right{
		padding-top: 10px;
		font-size: 0.5rem;
	}
	.user-nickname {
		margin-right: 1vw;
	}
	.login {
		margin-right: 1vw;
	}
/* アプリ広告部 */
	.title-contents{
		padding: 10px;
	}
	.service-title {
		font-size: 15px;
	}
	.service-explain{
		font-size: 10px;
	}
	.genre-select-label{
		font-size: 12px;
	}
	/* ネオン文字部 */
	.neon{
		font-size: 10px;
	}

	/* 課題作成ボタン */
	.new-question-btn {
		width: 80px;
		border-radius: 15%;
		bottom: 10px;
		right: 10px;
		padding: 5px;
	}
	.new-question-btn-text {
		font-size: 12px;
	}
	.new-question-btn-icon {
		width: 30%;
		height: 30%;
	}
}