// マイページ
.my-page{
  margin: 20px;
}

.user__wrapper{
  display: flex;
  align-items: flex-start;
}

.page-heading{
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 30%;
}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid darkgray;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid darkgray;
  background: white;
  width: 70%;
  padding: 16px 12px;
}
.point-parameter{
  margin-left: 20px;
  padding: 0 12px;
  width: 30%;
  background-color: floralwhite;
  border-radius: 7%;
}

.myChart{
  background-color: chartreuse;
  border-radius: 3%;
}
.character{
  // display: flex;
  // align-items: flex-end;
  font-size: 10px;
  margin-bottom: 25px;
}

.character-image{
  width: 300px;
  height: 200px;
  // margin-right: 10px;
}
.quote-link{
  margin-bottom: 15px;
}


// ここまでマイページ


// _answer.html部分
.my-page-score{
  margin-bottom: 5px;
  height: 35px;
}
.user-answer-link{
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.user-answer-score{
  color: gray;
}
.check-the-answer-later{
  background-color: #cc3300;
  color: white;
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
  border-radius: 2.5px;
  font-size: 0.75rem;
  transition: 0.3s;
}
.check-the-answer-later:hover{
  font-size: .90rem;
  padding: 8px;
  margin-left: 0;
}
// _answer.html部分

// 採点結果アニメーション
.judge-history{
  font-size: 30px;
  color: gray;
  text-shadow:  0 0 15px rgb(151, 149, 10);
  margin-top: 20px;
  border-bottom: 3px double darkgray;
  animation:5s linear infinite rotationY;
}

@keyframes rotationY{
  0%{ transform:rotateY(0);}
  100%{ transform:rotateY(360deg); }
}
// 採点結果アニメーション